<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block content %}
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
		    <div class="col-sm-3 logo"><img style="  border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 60px;"src="../static/images/fynd_1.png" alt=""/></div>
		    <div class="col-sm-6 nav">
				<h2>Welcome to Movie Review app</h2>
			</div>
			
			<div class="col-sm-3 header_right">
			   <ul class="header_right_box">
				 <li><p>{{user}}</p></li>
				 <li><a href="/dropsession" class="btn btn-info" role="button">Logout</a></li>
				 <div class="clearfix"> </div>
			   </ul>
			</div>
			<div class="clearfix"> </div>
	      </div>
	      <div class="slider">
	   <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li><img src="../static/images/banner.jpg" class="img-responsive" alt=""/>
			</li>
	        <li><img src="../static/images/banner1.jpg" class="img-responsive" alt=""/>
			</li>
	        <li><img src="../static/images/banner2.jpg" class="img-responsive" alt=""/>
			</li>
	      </ul>
	    </div>
	    <div class="banner_desc">
			    	<div class="col-md-9">
			    		<ul class="list_1">
			    			<li>Published <span class="m_1">Feb 20, 2015</span></li>
			    			<li>Updated <span class="m_1">Feb 20 2015</span></li>
			    			<li>Rating <span class="m_1"><img src="../static/images/rating.png" alt=""/></span></li>
			    		</ul>
			    	</div>
			    	<div class="col-md-3 grid_1">
			    		<ul class="list_1 list_2">
			    			<li><i class="icon1"> </i><p>2,548</p></li>
			    			<li><i class="icon2"> </i><p>215</p></li>
			    			<li><i class="icon3"> </i><p>546</p></li>
			    		</ul>
			    	</div>
			    </div>
      </div>
      <div class="content">
      	<div class="box_1">
      	 <h1 class="m_2">Featured Movies</h1>
		    <form>
				{% if show_hidden == True %}
					<a href="/new" class="btn btn-primary pull-right">Add Review</a>
				{% endif %}
		    </form>
		<div class="clearfix"> </div>
		</div>
		<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
			<thead>
			  <tr>
				<th class="th-sm">Movie Name
		  
				</th>
				<th class="th-sm">IMDB Rating
		  
				</th>
				<th class="th-sm">Genre
		  
				</th>
				<th class="th-sm">Director Name
		  
				</th>
				
			  </tr>
			</thead>
			<tbody>
				{% for movie in movies %}
			  <tr>
				
				<td>	<div class="box_2" >
					<div class="col-md-10 grid_2">
					  <div class="row_1">
					  <div class="col-md-6 grid_4"><a href="/{{movie.id}}">
						  <div class="grid_2">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{movie.image}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
							<div class="caption1">
								<ul class="list_3">
									<li><i class="icon5"> </i><p>{{movie.popularity}}%</p></li>
								</ul>
								<i class="icon4"> </i>
								<p class="m_3">{{movie.name}}</p>
								{% if show_hidden == True %}
									<a href="/edit/{{movie.id}}" class="btn btn-default">Edit</a>
              						<a href="/delete/{{movie.id}}" class="btn btn-default delete-btn" >Delete</a>
								{% endif %}
								
								
							
							</div>
						   </div>
						   
					   </a></div>
					   
				
					   </div>
					   
					</div></div>
					</td>
				
				 <td>{{movie.imdb}}</td>
				<td>{{movie.genre}}</td>
				<td>{{movie.director}}</td>
			  </tr>
			  {% endfor %}
		
			
		
			  
			</tbody>
		
			
		  </table>
		  
		  <script>
		  // Basic example
		  
		  $(document).ready(function () {
			$('#dtBasicExample').DataTable({
			  "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
			});
			$('.dataTables_length').addClass('bs-select');
		  });
		  </script>

		
	
			
			
		
	
		
	
	
		<div class="clearfix"> </div>
      </div>
   </div>
 </div>
 
<div class="container"> 
	<footer id="footer">
		<div id="footer-3d">
		   <div class="gp-container">
			   <span class="first-widget-bend"> </span>
		   </div>		
	   </div>
	   <div id="footer-widgets" class="gp-footer-larger-first-col">
		   <div class="gp-container">
			   <div class="footer-widget footer-1">
				   <div class="wpb_wrapper">
					<div class="col-sm-3 logo"><img style="  border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 60px;"src="../static/images/fynd_1.png" alt=""/>Fynd Movie Review</div>
				   </div> 
		   </div>
	   </div>
	 </footer>
</div>		
{% endblock %}


