{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block content %}
<div class="container">
	<div class="container_wrap">
		<div class="header_top">
		    <div class="col-sm-3 logo"><a href="/login"><img style="  border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 60px;"src="../static/images/fynd_1.png" alt=""/></a></div>
		    <div class="col-sm-6 nav">
			  <ul>
				 <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="comic"></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"> </span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"></span></li>
				 <li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"></span></li>
			 </ul>
			</div>
			<div class="clearfix"> </div>
	      </div>
	      <div class="content">
      	     <div class="register">
		  	  <form action ="/register" method="POST"> 
				 <div class="register-top-grid">
					<h3>Personal Information</h3>
					 <div>
						<span>First Name</span>
						<input type="text" id="firstname" name="firstname"> 
					 </div>
					 <div>
						<span>Last Name</span>
						<input type="text" id="lastname" name="lastname"> 
					 </div>
					 <div>
						 <span>Email Address</span>
						 <input type="text" id="email" name="email"> 
					 </div>
					 <div class="clearfix"> </div>
					   <a class="news-letter" href="#">
						 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
					   </a>
					 </div>
				     <div class="register-bottom-grid">
						    <h3>Login Information</h3>
							<div>
								<span>Username</span>
								<div class="input-group" id="username">
									<input class="form-control" type="username" name = "username">
							  	</div>
							</div>
							<div>
								<span>Password</span>
								<div class="input-group" id="show_hide_password">
									  <input class="form-control" type="password" name = "password">
								</div>
								
							</div>
							 <!-- <div>
								<span>Confirm Password</span>
								<input type="text" id="email" name="email"> >
							 </div> -->
							 <div class="clearfix"> </div>
					 </div>
					 <input type="submit" value="submit">
				</form>
				<div class="clearfix"> </div>
		   </div>
           </div>
    </div>
</div>
<div class="container"> 
	<footer id="footer">
		<div id="footer-3d">
		   <div class="gp-container">
			   <span class="first-widget-bend"> </span>
		   </div>		
	   </div>
	   <div id="footer-widgets" class="gp-footer-larger-first-col">
		   <div class="gp-container">
			   <div class="footer-widget footer-1">
				   <div class="wpb_wrapper">
					<div class="col-sm-3 logo"><img style="  border: 1px solid #ddd;border-radius: 4px;padding: 5px;width: 60px;"src="../static/images/fynd_1.png" alt=""/>Fynd Movie Review</div>
				   </div> 
		   </div>
	   </div>
	 </footer>
</div>		
{% endblock %}